.root-div{
  
  padding: 3rem;
  margin: 5rem;
  text-align: center;
  background: #042a33;
  border-radius: 1rem;
  font-style: sans-serif;
  display: grid;
  place-items: center;


  
}


.tab{
  padding: 1.5rem;
margin:0rem 2rem}


.active{
  background-color: blue;
}